@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: white;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.logo{
  margin-left: 70px;
  width: 139px;
  height: 65px;
}

.navigation-item a{
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
  margin: 17px;
}

.navigation{
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-links{
  flex-grow: 1;
  width: 450px;
  margin-left: 30px;
}

.navigation-buttons{
  margin-left: auto;
  margin-right: 70px;
}

.navigation-button{
  min-width: 66px;
  min-height: 66px;
}

.navigation-button>a{
  display: block;
  margin: 17px;
}

.welcome-container {
  background-color: #d3e3f1;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1200px;
  height: 485px;
  text-align: center;
}

.welcome{
  margin-top: 51px;
}

.button{
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  color: white;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.main-inner{
  flex-grow: 1;
  padding: 0;
}

.main-heading{
  text-align: center;
}

.main-heading-subtitle {
  display: block;
  margin: 63px auto 0 auto;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  width: 620px;
}

.main-heading-text{
  display: block;
  margin: 31px auto 90px auto;
  font-size: 22px;
  line-height: 26px;
  width: 654px;
}

.advantages{
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-list{
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-item{
  display: inline-flex;
}

.advantages-content{
  box-sizing: border-box;
  width: 400px;
  height: 384px;
  padding: 92px 85px;
}

.advantages-content-image{
  padding: 80px 85px;
}

.advantages-title{
  margin: 0 0 30px;
  padding: 0 25px;
}

.advantages-image{
  margin-bottom: 30px;
}

.advantages-description{
  margin-top: 30px;
  line-height: 21px;
}

.photo1, .photo2{
  display: block;
}

.advantages-content-style1{
  background-color: #FFFFFF;
}

.advantages-content-style2{
  background-color: #83B3D31F;

}

.advantages-content-style3{
  background-color: #83B3D333;
}

.advantages-content-style4{
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-image{
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.advantages-title{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-search{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  height: 417px;
}

.hotel-search-title{
  margin: 91px 0 0 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description{
  margin: 31px 0 0 0;
  max-width: 592px;
}

.hotel-search-button-wrapper{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  margin: 56px 0 0 0;
  width: 574px;
  height: 60px;
}

.hotel-search-button{
  margin: 0 auto;
  flex-grow: 1;
  padding: 12px;
}

.subscribe {
  text-align: center;
  color: #FFFFFF;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #756157;
  height: 411px;
}

.subscribe-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 200px;
}

.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.subscribe-description{
  width: 475px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 29px 0 0 0;
}

.subscribe-input-container{
  display: flex;
  margin: 46px 0 0 0;
}

.subscribe-email{
  width: 600px;
  height: 60px;
  padding: 0 0 0 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-size: 18px;
  line-height: 21px;
}

.subscribe-button{
  width: 200px;
  height: 60px;
  border: none;
  padding: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-footer{
  height: 120px;
  display: inline-flex;
  align-items: center;
}

.footer-container{
  display: flex;
  width: 1060px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}

.footer-social-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 142px;
  padding: 0;
}

.footer-social-item .button{
  background-color: #FFFFFF;
}

.contact-phone{
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.inner-header{
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #83a8c7;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-wrapper{
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
}

.breadcrumbs{
  display: flex;
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}

.catalog-filter{
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.catalog-filter-group{
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 30px 0;
}

.catalog-filter-item{
  margin-bottom: 15px;
}

.catalog-filter-item:last-child{
  margin-bottom: 0px;
}

.control-input{
  width: 20px;
  height: 20px;
}

.price-filter-title{
  display: block;
  font-size: 20px;
  margin: 0 0 34px 0;
}

.price-filter-from-to-wrapper{
  display: flex;
}

.price-filter-from, .price-filter-to {
  box-sizing: border-box;
  height: 48px;
  background-color: rgba(0, 0, 0, 0%);
  border: 2px solid #FFFFFF;
  margin: 0;
  width: 143px;
  padding: 0 0 0 18px;
  color: #FFFFFF;
}

.price-filter-from{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right-width: 1px;
}

.price-filter-to{
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left-width: 1px;
}

.control-text{
  margin-left: 19px;
  font-size: 18px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 0 0 0;
}

.catalog-button-apply {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  border: none;
}

.catalog-button-reset{
  margin-top: 20px;
}

.catalog-header-container{
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select-control{
  width: 290px;
  height: 49px;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
  border: 2px solid #e5e5e5;
  color: #333333;
  border-radius: 4px;
}

.views-buttons{
  display: flex;
  margin-right: 0;
}

.view-button{
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
  background-color: #FFFFFF;
}

.view-button:last-child{
  margin-right: 0;
}

.catalog {
  margin: 56px 0 0 0;
  padding-left: 73px;
  padding-right: 73px;
}

.catalog-title{
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 36px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  height: 438px;
}

.catalog-button-apply{
  background-color: #82B3D3;
}

.catalog-button-reset{
  background-color: transparent;
  text-transform: none;
  font-weight: 400;
  border: none;
}

.product-card-link{
  color: black;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.button-to-favorite{
  background-color: #82B3D3;
}

.button-in-favorite{
  background-color: #7DB54F;
}

.catalog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-list{
  display: flex;
  list-style: none;
}

.pagination-link{
  background-color: #82B3D3;
}

.pagination-current{
  background-color: #F2F2F2;
}

.subscribe-catalog{
  text-align: center;
}

.subscribe-button{
  background-color: #82B3D3;
}




